*{
    box-sizing: border-box;
}

body{
    margin:0;
    padding: 0;
}

.calc{
    width: 400px;
    background-color: black;
    color: white;
}

.screen{
    font-size: 50px;
    text-align: right;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    padding: 20px 5px;
}

.calc-button{
    background-color: #d8d9db;
    color: black;
    height: 100px;
    width: 24.5%;
    border: none;
    border-radius: none;
    cursor: pointer;
    font-size: 40px;
}

.calc-row{
    display: flex;
    align-content: stretch;
    justify-content: space-between;
    margin-bottom: 0.5%;
}

.double{
    width: 49.7%;
}

.triple{
    width: 74.8%;
}

.calc-button:hover{
    background-color: #ebebeb;
}

.calc-button:active{
    background-color: #bbbcbe;
}

.calc-button:last-child{
    background-color: #df974c;
    color: white;
}

.calc-button:last-child:hover{
    background-color: #dfb07e;
}

.calc-button:last-child:active{
    background-color: #dd8d37;
}
